<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kogo Ads</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Imported Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/company/desktop.css">
    <link rel="stylesheet" type="text/css" media='screen and (max-width: 1101px)' href="{{STATIC_URL}}css/company/desktopSm.css">


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  </head>
  <body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">Kogo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right scroll-links">
          <li><a data-section="intro">Intro</a></li>
          <li><a data-section="service">Our Service</a></li>
          <li><a data-section="students">Students</a></li>
          <li><a data-section="pricing">Pricing</a></li>
          <li><a data-section='why-kogo'>Benefits</a></li>
          <li><a data-section='contact-info'>Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% load tz %}

  {% block content %}{% endblock %}

  <!-- Imported Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  {% block additional_javascript %}{% endblock %}

  </body>
</html>