{% extends 'base.html' %}

{% block additional_javascript %}
<script type="text/javascript" src="{{STATIC_URL}}js/companies.js"></script>
{% endblock %}

{% block content %}
<section class="intro">
	<div class="info-container">
		<div class="intro-left-container">
			<h1>
				<p class="lighter">
					Easily advertise your products and services to one of your largest consumers: 
				</p>
					<strong>
						University Students.
					</strong>
			</h1>
			<div class="video-holder shadow"></div>
			<h1 class="lighter">
				<p class="lighter">
					Students love our service, our goal is to make them love yours.
				</p>
			</h1>
		</div>
		<img class="android" src="{{STATIC_URL}}images/android.png" />
	</div>
</section>

<section class="service">
	<div class="info-container">
		<div class="service-left-container">
			<h1>How our Service Works</h1>
			<p class="summary">
			</p>
			<ul class="how-service-works">
				<li>
					<div class="glyphicon glyphicon-film"></div> 
					You provide us with an advertising clip you want to show students.
				</li>
				<li>
					<div class="glyphicon glyphicon-road"></div> 
					We offer students free rides around campus and to nearby locations.
				</li>
				<li>
					<div class="glyphicon glyphicon-play"></div> 
					During these rides, students watch your clips on video monitors in the vehicles.
				</li>
				<li>
					<div class="glyphicon glyphicon-usd"></div> 
					Students learn about your products and services and are influenced to try them out.
				</li>
			</ul>
		</div>
		<div class="service-video shadow"></div>
	</div>
</section>

<section class="students">
	<div class="info-container">
		<div id="student-video-player"></div>
		<div class="student-info-container">
			<h1>Why Students love us.</h1>
			<p class="summary">
				We offer students free rides between campuses and to nearby off-campus locations.
			</p>
			<p class="details">
				With Kogo, students no longer have to wait long periods of time for buses in order to travel between campuses and do not have to pay expensive taxi fares to go off-campus. We put students
				in a good mood so they can positively absorb your advertisment.
			</p>	
		</div>
	</div>
</section>

<section class="price-information">
	<div class="info-container">
		<div class="left-container">
			<h1>Pricing that makes sense</h1>
			<p class="pricing-summary">
				Pricing is simple and painless. You provide us with an advertisement and you only pay when students actually see your ads.
			</p>
			<p class="details">
				At Kogo, we charge you by the impact second. An impact second is one second that a student spends watching your advertisement. This way your every penny goes towards gaining a potential customer.
			</p>
			<p class="details">
				We are unique in that we can guarentee you that your advertisements are only being shown to your
				target market segment and that you are only paying when they see your ad. You won't find a more
				efficient and cost-effective service on the market.
			</p>
		</div>
		<div class='right-container'>
			<ul class="sample-list">
				<li class="active"><h1>Sample Payment Plan</h1></li>
				<li>
					Length of Ad
					<span class="right"><strong>30 sec</strong></span>
				</li>
				<li>
					# Students to Watch it
					<span class="right"><strong>500</strong></span>
				</li>
				<li>
					Total Impact Seconds
					<span class="right">15,000</span>
				</li>
				<li>
					Cost per Impact Second
					<span class="right">$0.03</span>
				</li>
				<li>
					Total Cost
					<span class="right"><strong>$450</strong></span>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="why-kogo">
		<div class="why-kogo-intro">
			<h1>Why Kogo</h1>
			<p class="summary">
				We recognize the unique challenges that face businesses when it comes to effective advertising. Here at Kogo we aim to take some of that burden off your shoulders so that you can get back to running your business and doing what you love.
			</p>
		</div>
		<div class="icon-info-container">
			<div class="icons-container">
				<div class="icon" data-id="1"><h1>1</h1></div>
				<div class="icon" data-id="2"><h1>2</h1></div>
				<div class="icon" data-id="3"><h1>3</h1></div>
				<div class="icon" data-id="4"><h1>4</h1></div>
				<div class="icon" data-id="5"><h1>5</h1></div>
			</div>
			<div class="icon-info-container">
				<div class="icon-info" hidden="true" data-id="1">
					Here is some information about highly targeted advertising.
				</div>
				<div class="icon-info" hidden="true" data-id="2">
					Here is some information about how students only pay when they see your ads.
				</div>
				<div class="icon-info" hidden="true" data-id="3">
					Here is some information about how free rides put students in a good mood.
				</div>
				<div class="icon-info" hidden="true" data-id="4">
					Here is some information about how we are more engaging than traditional advertising.
				</div>
				<div class="icon-info" hidden="true" data-id="5">
					Here is some information about no minimum contract.
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact-info">
	<div class="contact-info-container">
		<h1 class="lg">Give Kogo a try?</h1>
		<p class="contact-summary">
			If you're interested in growing your business with us
			or have questions, let's get in touch.
		</p>
		<h1>kogoadvertising@gmail.com</h1>
		<h1>317-938-8461</h1>
	</div>
</section>
{% endblock %}