

/* Business Informational Page */

section.intro {
	background: white;
	width: 100%;
	background-size: 100%;
	padding: 115px;
}

div.video-holder {
	margin: 35px 0px 0px 0px;
	height: 300px;
	width: 580px;
	background: gray;
	opacity: 0.8;
}


img.android {
	float: right;
	width: 500px;
}

div.intro-left-container {
	width: 600px;
	float: left;
}

div.intro-left-container h1 {
	margin-top: 0px;
	padding-top: 40px
}

section.intro h1, section.why-kogo h1, section.service h1 {
	font-size: 50px;
}

p.no-border {
	border-bottom: none;
}

div.info-container {
	width: 1300px;
	margin: 0px auto;
}

section.intro div.info-container {
	overflow: auto;
}

section.intro p.lighter {
	font-size: 26px;
	color: gray;
}

div.intro-left-container p {
	font-size: 1.6em;
	font-weight: 200;
}

section.price-information {
	padding: 170px 200px 190px 200px;
	width: 100%;
	background-size: 100%;
	background: white;
	overflow: auto;
}

section.service, section.why-kogo, section.students {
	padding: 180px 200px;
	width: 100%;
	background: #33425A;
	color: white;
	overflow: auto;
}

section.students {
	background: #337a5A;
}


div.service-left-container {
	margin-bottom: 50px;
	float: left;
	width: 600px;
}

div.student-info-container {
	margin-bottom: 50px;
	float: right;
	width: 600px;
}

div#student-video-player {
	float: left;
}



section.why-kogo h1 {
	text-align: center;
	margin-bottom: 50px;
}

section.why-kogo img {
	width: 140px;
}

section h1 {
	font-size: 50px;
}

section.why-kogo h1 {
	font-size: 70px;
	margin-bottom: 90px;
}

section.why-kogo div.icon-info, section.why-kogo p.summary {
	font-size: 3.0em;
	font-family: "Titillium Web",sans-serif;
}

section.why-kogo p.summary {
	font-size: 1.8em;
}

div.service-video {
	margin: 100px 0px 0px 20px;
	height: 275px;
	width: 490px;
	background: gray;
	opacity: 0.8;
	float: right;
}

div.reasons-container h1 {
	font-size: 50px;
}

ul.how-service-works {
	list-style: none;
	font-size: 1.6em;
	font-family: "Titillium Web",sans-serif;
}

ul.how-service-works li:not(:last-child) {
	margin-bottom: 30px;
}

ul.how-service-works li div.glyphicon {
	float: left;
	font-size: 40px;
	margin: 8px 20px 0px 0px;
}

section.why-kogo ul {
	list-style: decimal;
	font-size: 1.6em;
	font-family: "Titillium Web",sans-serif;
}

ul.reasons-list li {
	margin: 20px 0px;
}

div.left-container {
	width: 550px;
	float: left;
	padding: 10px;
}

div.left-container h1 {
	font-size: 50px;
}

.right {
	float: right;
}

p.pricing-summary, p.summary {
	padding-bottom: 10px;
	border-bottom: 5px solid #41CFC0;
	font-size: 1.5em;
}

p.details {
	font-size: 1.2em;
}

div.right-container {
	float: right;
	width: 500px;
	padding: 10px;
}

div.list-container {
	float: right;
}

ul.sample-list {
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}

ul.sample-list li.active {
	font-size: 30px;
	font-family: "Titillium Web",sans-serif;
}

ul.sample-list li {
	border-bottom: 1px solid rgb(237, 237, 237);
	padding-top: 10px;
	padding-bottom: 10px;
}

section.contact-info {
	background: white;
	width: 100%;
	background-size: 100%;
	text-align: center;
	padding: 120px;
}

div.contact-info-container h1.lg {
	font-size: 60px;
}

p.contact-summary {
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 5px solid #41CFC0;
	font-size: 1.5em;
	width: 500px;
}

div.icon-info-container {
	margin-top: 80px;
}

div.icons-container {
	margin: 30px 0px;
	overflow: auto;
	overflow-y: hidden;
}

div.icon {
	text-align: center;
	width: 260px;
	float: left;
}